 <% include ./partials/header %>
 <div class="ui main text container segment">
    <div class="ui huge header">
               Nishtha Garg

    </div>

     <div class="ui top attached">
       <div class="col-md-4"
        <div class="item">
            <img class="ui rounded image">
            <img src="https://www.developeo.com/img/502540.png" align="left" padding="0">
                <div class="content">
                    <p class="title">Software and Web Developer</p>
                    <p>Illinois Institute of Technology, Chiacgo</p>

                    <a href="https://www.linkedin.com/in/nishthagarg1807/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/nishtha.garg.731">       <i class="fa fa-facebook"></i></a>
                    <p><a class="btn btn-primary" href="/blogs" role="button">Go Back</a></p>
                </div>
              </div>


        </div>



</div>


</div>

<% include ./partials/footer %>
