<% include ./partials/header %>
<div class="container">
    <h1><b>India is a country of diversity; let’s celebrate our diversity!</b></h1>
    <h2><i>Come! experience India!</i></h2>
    
        <p>
        
        India is well known all over the world as a country of cultural and traditional festivals as it has many cultures and religions. One can enjoy the festival celebration in India every month. As it is a secular country full of diversity in the religions, languages, cultures and castes, it is always crowded with the people involved in the fairs and festivals celebration. People from each religion have their own cultural and traditional festivals. Some of the festivals are celebrated by the people of all religions in the entire nation. Each and every festival is celebrated uniquely in different ways according to the rituals, beliefs and its significant history behind. Each festival has its own history, legend and significance of celebration. Indian origin people in the abroad also celebrate their cultural festival with the immense passion.</p>
        
        </p>
        </div>
        <!--//adding sliding images carousal-->
        <div class="container">
          <div class="col-md-12">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
              <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="https://assets.shoesonloose.com/image.thumbnail_medium.8d49499592610305.64622e696d6167652e31313233395f36303070782e6a706567.jpeg" alt="holi">
                 <div class="carousel-caption">
                  
                </div>
              </div>
              
            <div class="item">
                <img src="http://factslegend.org/wp-content/uploads/2017/09/ganesh-chaturthi-procession.jpg" alt="ganesh poja">
                <div class="carousel-caption">
                  
                </div>
              </div>
            
            <div class="item">
                <img src="https://www.amazingindiastockphotos.com/wp-content/uploads/2017/08/Indian-festivals-and-rituals.jpg" alt="holi">
                <div class="carousel-caption">
                  
                </div>
              </div>
            
              <div class="item">
                <img src="https://www.easemytrip.com/travel/img/indian-festivals-in-january.jpg" alt="diwali">
                <div class="carousel-caption">
                  
                </div>
              </div>
              
              
          
              
              
              <div class="item">
                <img src="https://www.hindustantimes.com/rf/image_size_640x362/HT/p2/2016/01/13/Pictures/_ca0807d2-b9ad-11e5-8a67-7b6ff47c171b.jpg" alt="lohri">
                <div class="carousel-caption">
                  
                </div>
              </div>
          
              <div class="item">
                <img src="https://uploads.thealternativepress.com/uploads/photos/fd/best_99616f55a453e4c95c6b_dussehra.jpg" alt="durga pooja">
                <div class="carousel-caption">
                  
                </div>
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        
    </div>
</div>
<% include ./partials/footer %>